.header
    .menu
        .item
            a.link(href=root+"gcanvas.html")
                img.logo(src=root+"../assets/logo-gcanvas.png")
        .item
            a.link(href=root+"gcanvas/docs/Engine.html") Docs
        .item
            a.link(href=root+"gcanvas/guide/Engine.html") Guide
        .item
            a.link(href=root) Coorperation
        .item
            a.link(href=root) Playground