.header
    .menu
        .item
            a.link(href=root)
                img.logo(src=root+"../assets/logo-gplatform.png")
        .item
            a.link(href=root+"gcanvas/docs/Introduction.html") Docs
        .item
            a.link(href=root+"gcanvas-coorperation.html") Coorperation
        .item
            a.link(href=root+"gcanvas/guide/Playground.html") Playground
