.header
    .menu
        .item
            a.link(href=root+"gcanvas.html")
                img.logo(src=root+"../assets/logo-gcanvas.png")
        .item
            a.link(href=root) Docs
        .item
            a.link(href=root) Guide
        .item
            a.link(href=root) Coorperation
        .item
            a.link(href=root) Playground