.header
    .menu
        .item
            a.link(href=root+"gcanvas.html")
                img.logo(src=root+"../assets/logo-gcanvas.png")
        .item
            a.link(href=root+"gcanvas/docs/Introduction.html") Docs
        .item
            a.link(href=root+"gcanvas-coorperation.html") Community
        .item
            a.link(href=root+"gcanvas/guide/Playground.html") Playground
        .item-right.item
            a.link(href=root+"index.html") GPlatform
