.header
    .menu
        .item
            a.link(href=root)
                img.logo(src=root+"../assets/logo-gplatform.png")
        .item
            a.link(href=root+"gcanvas/docs/API Summary.html") Docs
        .item
            a.link(href=root+"gcanvas/guide/How it works.html") Guide
        .item
            a.link(href=root+"gcanvas-coorperation.html") Coorperation
        .item
            a.link(target="_blank" href="https://gplatformteam.github.io/gcanvas-playground-ios/install.html") Playground