.header
    .menu
        .item
            a.link(href=root+"gcanvas.html")
                img.logo(src=root+"../assets/logo-gcanvas.png")
        .item
            a.link(href=root+"gcanvas/docs/API Summary.html") Docs
        .item
            a.link(href=root+"gcanvas/guide/How it works.html") Guide
        .item
            a.link(href=root+"gcanvas-coorperation.html") Coorperation
        .item
            a.link(href=root+"gcanvas/guide/Playground.html") Playground
